// https://itnext.io/how-to-make-a-fancy-inverted-border-radius-in-css-5db048a53f95
@mixin inverted-border-radius($radius, $bg) {
        content: "";
        position: absolute;
        
        background-color: white;
        bottom: -1px;
        height: $radius * 2;
        width: 100%;
        left: $radius;
        border-top-left-radius: $radius;
        box-shadow: 0 -$radius 0 0 white;
}

// And now comes my code
nav.main-navbar {
    position: sticky;
    position: -webkit-sticky;
    background: linear-gradient(91.71deg, #006bf7 0%, #0090f7 100%);
    top: 0;
    box-sizing: border-box;
    min-width: 100%;
    padding: 10px;
    font-family: 'Red Hat Display';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        &.center-nav {
            @media screen and (max-width: $responsive-breakpoint) {
                display: none;
                flex-direction: column;
            }
        }
    }
    input#nav-collapse-toggle {
        display: none;
        @media screen and (max-width: $responsive-breakpoint) {
            &:checked + .center-nav {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                position: absolute;
                right: 0;
                top: 60px;
                background-color: white;
                border-radius: 15px;
                box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
                margin-right: 3px;
                a.nav-link {
                    text-align: center;
                }
            }
        }
        ~ label {
            display: flex;
            flex-direction: row;
            align-items: center;
            user-select: none;
            cursor: pointer;
            font-size: 30px;
            margin: 3px;
            @media screen and (min-width: ($responsive-breakpoint + 1)) {
                visibility: hidden;
            }
        }
    }
    div * {
        vertical-align: middle;
        display: inline-block;
    }
    img.site-icon {
        display: inline-block;
        vertical-align: top;
        height: 45px;
    }
}
a.nav-link {
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
    transition-property: background-color color;
    transition-duration: 0.1s;
    &:hover {
        color: white;
        background-color: black;
    }
}
nav.nav-left {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    background-color: $primary-alt;
    padding: 20px;
    width: 20%;
    height: 100vh;
    position: sticky;
    top: 0;
    h2.section-heading {
        font-size: small;
        text-transform: uppercase;
        color: $sidebar-fg;
        font-family: 'Red Hat Display';
        margin-left: 5px + 7px + $sidebar-item-active-underline-thickness;
    }
    a.sidebar-link {
        box-sizing: content-box;
        color: $primary-fg;
        text-decoration: none;
        margin-left: 5px;
        font-family: "Red Hat Text";
        transition-property: border-color;
        transition-duration: 50ms;
        margin-bottom: $sidebar-item-spacing - $sidebar-item-active-underline-thickness;
        border: $sidebar-item-active-underline-thickness solid $sidebar-bg;
        padding: 7px;
        border-radius: 15px;
        &:hover {
            // border-bottom: $sidebar-item-active-underline;
            // margin-bottom: $sidebar-item-spacing - $sidebar-item-active-underline-thickness;
            background-color: darken($color: $sidebar-bg, $amount: 20);
        }
        &.active {
            border-radius: 15px;
            border: $sidebar-item-active-underline-thickness solid $sidebar-fg;
            &:hover {
                border-color: darken($color: $sidebar-bg, $amount: 20);
            }
        }
    }
    .sidebar-top a {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
}
body.nav-left {
    display: flex;
    flex-direction: row;
    pointer-events: none;
    main {
        min-width: unset;
        max-width: 80%;
        flex: 1;
        .brand {
            position: sticky;
            z-index: -1;
            top: 0;
            pointer-events: all;
        }
        .brand::before {
            @include inverted-border-radius(15px, $primary-alt)
        }
        .sidebar-layout {
            flex-direction: column;
            .sidebar {
                max-width: unset;
            }
        }
        .main-content {
            pointer-events: all;
            background-color: white;
            margin: 0;
            padding: 50px;
            border-top-left-radius: 15px;
        }
    }
}
