nav.main-navbar {
    position: sticky;
    position: -webkit-sticky;
    background: linear-gradient(91.71deg, #006bf7 0%, #0090f7 100%);
    top: 0;
    box-sizing: border-box;
    min-width: 100%;
    padding: 10px;
    font-family: 'Red Hat Display';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        &.center-nav {
            @media screen and (max-width: $responsive-breakpoint) {
                display: none;
                flex-direction: column;
            }
        }
    }
    input#nav-collapse-toggle {
        display: none;
        @media screen and (max-width: $responsive-breakpoint) {
            &:checked + .center-nav {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                position: absolute;
                right: 0;
                top: 60px;
                background-color: white;
                border-radius: 15px;
                box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
                margin-right: 3px;
                a.nav-link {
                    text-align: center;
                }
            }
        }
        ~ label {
            display: flex;
            flex-direction: row;
            align-items: center;
            user-select: none;
            cursor: pointer;
            font-size: 30px;
            margin: 3px;
            @media screen and (min-width: $responsive-breakpoint+1) {
                visibility: hidden;
            }
        }
    }
    div * {
        vertical-align: middle;
        display: inline-block;
    }
    img.site-icon {
        display: inline-block;
        vertical-align: top;
        height: 45px;
    }
}
a.nav-link {
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
    transition-property: background-color color;
    transition-duration: 0.1s;
    &:hover {
        color: white;
        background-color: black;
    }
}