<nav class="main-navbar">
    <div class="left-nav">
        <a href="{{ '/' | relative_url }}">
            <img class="site-icon" src="{{ site.icon | relative_url }}">
        </a>
    </div>
    <input type="checkbox" id="nav-collapse-toggle">
    <div class="center-nav">
        {% for item in site.data.navigation %}
        <a class="nav-link" href="{{ item.url | relative_url }}">
            {{item.name}}
        </a>
        {% endfor %}
    </div>
    <label for="nav-collapse-toggle">☰</label>
</nav>