---
layout: default
---

<main>
    <div class="brand">
        <div class="brand-header">
            <img src="{{ page.header.logo | relative_url }}" alt="Logo" class="brand-logo" height="128" width="128">
            <h1 class="brand-name">{{ page.header.title }}</h1>
        </div>
        <h2 class="brand-slogan">{{ page.header.slogan }}</h2>
        <div class="brand-buttons">
            {% for button in page.header.buttons %}
            <a href="{{ button.url | relative_url }}" class="btn btn-go">{{ button.title }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="main-content">
        {% if page.toc %}
        <div class="sidebar-layout">
            <div class="sidebar">
                <h1 class="toc-header">Contents</h1>
                {% include toc.html html=content %}
            </div>
            <div class="sidebar-content">
        {% endif %}
        {{ content }}
        {% if page.toc %}
            </div>
        </div>
        {% endif %}
    </div>
</main>